<h1>Página index de productos</h1>
<h2>Mira nuestro productos</h2>
{% if latest_products_list %}
    {% for product in latest_products_list%}
        <h3></h3>
        <div class="box">
            <section>
                <figure>
                    <img src={{ product.main_image.imgProduct.url }} alt= {{ product }} >    
                </figure>
            </section>
        </div>
        <div class="box">
            <p>{{ product }}</p>
        </div>
    {% endfor %}
{% else %}
    <p>No hay productos disponibles, vuelve más tarde.</p> 
{% endif %}


{% comment %} https://programmerclick.com/article/72871490436/ {% endcomment %}